
CONFIG_PREEMPT=y
CONFIG_PREEMPT_RT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_HZ_1000=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SMP=y

CONFIG_SPI=y
CONFIG_SPI_BCM2835=y
CONFIG_I2C=y
CONFIG_I2C_BCM2835=y

CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_BCM2835=y
CONFIG_SND_SOC_HIFIBERRY_DAC=y
CONFIG_SND_SIMPLE_CARD=y
CONFIG_SND_SIMPLE_CARD_UTILS=y
